.wrapperModal {
  position: absolute;
  background: #fff;
  top: calc(50px + (60 - 50) * ((100vw - 280px) / (1920 - 280)));
  left: 0;
  width: 100%;
  height: 93%;
  display: none;
}

.modelSection {
  position: absolute;
  z-index: 10;
  width: 60%;
  height: 96%;
  top: .5vh;
  left: 20%;
  padding: 0 50px;
  overflow-y: auto;
  display: none;
}

.hidden {
  display: block;
}

.buttonBox {
  width: 100%;
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-end;
}

.buttonClose {
  padding: 10px;
  font-weight: 500;
}

.createBox {
  display: flex;
  padding: 0 5px;
  height: 80%;
  justify-content: space-between;
}

.formBox {
  width: 49%;
}

.descriptionBox {
  width: 49%;
}

.form {
  width: 100%;
  display: flex;
  padding: 20px 5px 0;
  flex-direction: column;
}

.title {
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form div {
  position: relative;
  margin-bottom: 20px;
}

.form input {
  width: 90%;
  position: relative;
  margin: 0 0 5px 0;
}

.form form div span {
  right: 12%;
  bottom: 10px;
}

.formSelects {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.form select {
  position: relative;
  border: 1px solid rgb(61, 61, 61);
  top: -7px;
  font-size: 20px;
}

.form .formSelects form div span {
  right: -5%;
  bottom: 5px;
}

.inputFile {
  width: 280px;
  margin: -40px 0 20px 10px;
}

.form button {
  padding: 5px;
  font-weight: 500;
  float: right;
}

.btnDisabled {
  pointer-events: none;
  opacity: 0.5;
}

.btnBoxDisabled:hover:before {
  content: 'Заполните все поля и свойства девайса';
  font-size: 20px;
  padding: 5px;
  opacity: .6;
  border-radius: 5px;
  color: white;
  background: red;
  margin: 7px 20px 0 0;
}

