.pagination {
  display: flex;
  justify-content: space-between;
}

.rowPages {
  font-size: 22px;
  display: flex;
  align-items: flex-start;

}

.paginationNumber {
  padding: 5px;
  margin-left: 20px;
  font-weight: 500;
  transition: all .3s linear;
}

.active {
  transform: scale(1.2, 1.05);
  font-weight: 500;
  transition: all .3s linear;
  box-shadow: -1px -1px 1px rgb(61, 61, 61), 1px 1px 1px rgb(61, 61, 61);
}

.limitLabel {
  padding: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.limitTitle {
  white-space: nowrap;
  margin-right: 5px;
}

.form {
  margin-left: auto;
  position: relative;
  width: 150px;
  height: 40px;

  & input {
    width: 40px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
  }

  & button {
    height: 32px;
    opacity: 0;
  }

  &:hover button {
    opacity: 1;
  }

  & form div span {
    bottom: 4px;
    left: 150px;
  }
}


