.pagination {
  display: flex;
  justify-content: space-between;
}

.rowPages {
  font-size: 22px;
  display: flex;
  align-items: flex-start;

}

.paginationNumber {
  padding: 5px;
  margin-left: 20px;
  font-weight: 500;
  transition: all .3s linear;
}

.active {
  transform: scale(1.2, 1.05);
  font-weight: 500;
  transition: all .3s linear;
  box-shadow: -1px -1px 1px rgb(61, 61, 61), 1px 1px 1px rgb(61, 61, 61);
}

.form {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  margin-right: 50px;

  & input{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
  }
}

.limitLabel {
  margin-right: 10px;
}

.form form div span {
  left: 90px;
}
